.success-p{
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 28px;
   text-align: center;
   padding-bottom: 50px;
   color: #000000;
}
.success-sm-div{
   margin-top: 60px;
}
.success-sm-img{
   margin-top: 15px;
}
.success-top-p{
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 28px;
   color: #000000;
   text-align: right;
   padding-bottom: 8px;
}
.success-bg-p{
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   text-align: right;
   color: #000000;
   border-right:5px solid #FB0000;
   padding:0px 10px 0px 0px;
}