.why-top-p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #FF290C;
    line-height: 18px;
}
.why-bg-p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #201F1F;
    margin-bottom: 45px;
    /* letter-spacing: 2.0px; */
}
.why-sm-img{
    width: 41px;
    height: 41px;
    margin-left: 16px;
}
.why-bg-img-p{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #201F1F;
    padding-top: 12px;
}
.why-sm-img-p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #201F1F;
    margin-left: 14px;
    margin-top: 25px;
}