.slick-arrow{
    
    color:black !important;
}
.slick-prev:before {
    content: '←';
    color: black !important;
    font-size: 40px;
}

.slick-next:before {
    color: black !important;
    font-size: 40px;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #000;
    content: 'nirob';
    font-size: 20px !important;
}
.slick-dots li {
    color:red !important;
    background-color:red
}