.slick-arrow{
    
    color:black !important;
}
.slick-prev:before {
    content: '←';
    color: black !important;
    font-size: 40px;
    margin-top: -87px;
    position:absolute;
    margin-left: 1113px;
}

.slick-next:before {
    position:absolute;
    color: black !important;
    font-size: 40px;
    margin-top: -93px;
    margin-left: -68px;

}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #000;
   
}
.slick-dots li {
    color:red !important;
    background-color:red
}



.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0;
    content:"hi" ;
   
}
.slick-dots li button:before {
    content: ' nirob';
}