.easy-bg-p{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.easy-sm-p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.easy{
    box-shadow: 4px 4px 8px 17px rgba(235, 235, 235, 0.25), 0px 4px 4px rgba(207, 206, 206, 0.25);
    padding-left: 40px;
    background:white;
}
.easy-img{
    width:90% !important;

}