.ex-btn:hover{
    background:#F92929;
    transition:.4s;
}
.bg-home{
    background-image: url(/src/images/bg1.png) ;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
    
}
.hero-robot{
    margin-left: 1173px;
    margin-top: 317px;
    position: absolute;
    z-index: 9999;
}
@media only screen and (max-width: 1440px) {
    .hero-robot{
        margin-left: 913px;
        margin-top: 317px;
        position: absolute;
        z-index: 9999;
    }
  }
  @media only screen and (max-width: 1280px) {
    .hero-robot{
        margin-left: 755px;
        margin-top: 317px;
        position: absolute;
        z-index: 9999;
    }
  }