.ex-btn:hover{
    background:#F92929;
    transition:.4s;
}
.bg-home{
    background-image: url(/src/images/bg1.png) ;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
    
}