.first-div{
    height: 500px;
    width:561px;
    border: 3px solid black;
}
.left-div-1{
    height:497px;
    width:40px;
    border: 3px solid black;
}
.top-div1{
    height: 40px;
    width:554px;
    border: 3px solid black;
    margin-left: 40px;
    margin-top: -4px;
    width: 515px;
}
.top-left2{
    height: 455px;
    width:60px;
    border: 3px solid black;
    margin-top: 40px;
}
.top-div2{
    height: 40px;
    width:385px;
    border: 3px solid black;
    margin-left: 60px;
    margin-top: -4px;
}
.top-div3{
    height: 160px;
    width:385px;
    border: 3px solid black;
    margin-left: 60px;
    margin-top: -4px;
    position: relative;
}
.mid-1{
    height: 160px;
    width:90px;
    border: 3px solid black;
    position:absolute;
    margin-right:auto;
}
.mid-2{
    height: 160px;
    width:95px;
    border: 3px solid black;
    position:absolute;
    margin-left:95px;
}
.mid-3{
    height: 160px;
    width:95px;
    border: 3px solid black;
    margin-left:190px;
    position:absolute;
}
.mid-4{
    height: 160px;
    width:95px;
    border: 3px solid black;
    margin-left:285px;
    position:absolute;
}

.top-div4{
    height: 90px;
    width:385px;
    border: 3px solid black;
    margin-left: 60px;
    margin-top: -4px;
}
.top-left3{
    height: 499px;
    width:60px;
    border: 3px solid black;
    margin-top: 40px;
    margin-top: -505px;
    margin-left: 452px;
    position: relative;
}
.r-mid-1{
    height: 110px;
    width:30px;
    border: 3px solid black;
    position:absolute;
    margin-top: 190px;
    margin-left: -3px;
}
.r-mid-2{
    height: 110px;
    width:30px;
    border: 3px solid black;
    position:absolute;
    margin-top: 190px;
    margin-left: -3px;
    margin-top: -312px;
    margin-left: 483px;
}