  .tabpanel-cat{
    width: 1130px !important;
    height: 523px !important;
    border-radius: 74px;
  }
  .tab1{
      color:red !important;
      background:white !important;
  }


  /* jj?  nav 75  logo w219 h */