.nav-btn{
    padding: 8px 13px !important;
    background:#FF1C1C !important;
    line-height: 30.41px !important;
    font-size: 18px !important;
}
.navbar-toggler-icon{
    color:white !important;
}
.navbar-collapse{
    background:#1C1C1C;
    padding: 5px;
    padding-bottom:20px;
    border-radius: 6px
}