.log{
    width: 279px;
height: 157px;
left: 161px;
top: 3482px;
}
.f-p1{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
padding-top:19px ;
color: #262626;
}
.f-p2{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #000000;
}